<div class="about">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Toll Free Number</h5>
          <p class="card-text">Use this number to contact our Customer Care.</p>
          <a href="" routerLink="mobile" class="btn btn-primary">Customer Care Number</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Feedback</h5>
          <p class="card-text">Please Fill the following form</p>
          <p class="card-text">Your feedback is valuable to us</p>
          <a href="" routerLink="laptop" class="btn btn-primary">Feedback Form</a>
        </div>
      </div>
      
      
      <div class="">
          <router-outlet></router-outlet>
      </div>
</div>
