<body style="background-color: lightsalmon;"> 
<nav class="navb" style="align-items: center;">

  <h1 class="navb" style="font-weight: bolder;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size: xx-large;padding-left: 0px;">Fab Food</h1>
  <div>
    <h1 class="navb" href="" routerLink="/indian">Indian</h1>
  </div>
  <div>
    <h1 class="navb" href="" routerLink="/chinese">Chinese</h1>
  </div>
  <div>
    <h1  class="navb" href="" routerLink="/fast">Fast food</h1>
  </div>
  <h1  class="navb" href="" routerLink="/about">About us</h1>
</nav>
<router-outlet></router-outlet>
</body>


